<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter18CSharpLearningLinqToSQL.Properties.Settings.CSharpDBConnectionString"
            connectionString="Data Source=DESKTOP-U416S3D\TUTORIALCSHSQL;Initial Catalog=CSharpDB;Persist Security Info=True;User ID=SA;Password=pawlak07"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>